/*
=============== 
Fonts
===============
*/
@import url("fontawesome-free/css/all.css");

section {
  text-align: center;
}

#team-container .team-description {
  display: none;
}

#team-container .team-name {
  margin: 0;
}

#team-container img {
  width: 100%;
}

#team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 20px;
  list-style-type: none;
  padding: 0px;
  max-width: 1230px;
  margin: 4em auto;
}

#team-container > li {
  position: relative;
  height: 300px;
  width: 230px;
}
#team-popup {
  display: none;
  z-index: 2000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.7);
}

#team-popup.active {
  display: unset;
}

#team-popup > div {
  display: none;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 1rem;
  border-radius: 8px;
}

#team-popup.active > div {
  display: block;
}

#team-popup-description {
  overflow-y: auto;
  max-height: 60vh;
  height: auto;
}
#team-popup > div > img {
  position: absolute;
  right: 0;
  top: 0;
  margin: 25px;
  width: 30px;
  cursor: pointer;
  user-select: none;
}